# Secrets / credentials
eh_config.json
*.secret
.env
.cache/
tmp/.cache/
/references/

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db

FletViewer/*

build

.venv

# 存储位置（DEV）
storage